header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-header {
    font-size: 24px;
}

ul {
    display: flex;
    list-style-type: none;
}

header, footer {
    background-color: #1F2937;
    color: #F9FAF8;
}