body {
    font-family: Roboto, 'Helvetica Neue'
}
header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-header {
    font-size: 24px;
}

ul {
    display: flex;
    list-style-type: none;
}

header, footer, .awesome {
    background-color: #1F2937;
    color: #F9FAF8;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.awesome {
    display: flex;
    justify-content: center;
    align-items: center;
}

.awesome-left {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAf8;
}

#subtext {
    font-size: 18px;
    color: E5E7Eb;
    font-weight:lighter;
}

button {
    background-color: #3882f6;
    color: #F9FAf8;
}

.boxes {
    display: flex;
}

.quote {
    background-color: #E5E7EB;
}

#italic {
    font-size: 36px;
    font-weight:lighter;
    font-style:italic;
    color: #1F2937;
}