header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-header {
    font-size: 24px;
}

ul {
    display: flex;
    list-style-type: none;
}

header, footer, .awesome {
    background-color: #1F2937;
    color: #F9FAF8;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.awesome {
    display: flex;
}

.awesome-left {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAf8;
}

#subtext {
    font-size: 18px;
    color: E5E7Eb;
    font-weight:lighter;
}